<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdiuuN0glrOUbIoc0o1g1hr3HFvBHTO-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>803409692683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoeEcommerse.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shoe-eccomerse</string>
	<key>STORAGE_BUCKET</key>
	<string>shoe-eccomerse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803409692683:ios:0146a3ab631f6f60f85f0e</string>
</dict>
</plist>